<h1> update ejs</h1>

<h3> Current Drinkz on hand</h3> 
 <% for (var i=0; i< drinkData.length; i++ ) { %>
  <form method="POST" action="/update/<%= postData[i]._id %>" style="display: inline-block">  
    <%= postData[i].post %>
    <input type="submit" value="update"> 
  </form>
  <br/>
<% } %>


<a href = "/read"> back tp the read endpoint</a>